.main {
    /* width: 1250px;
    border: 2px solid green;
    padding: 60px;
    margin: 30px;
    margin-left: 70px; */
    position: relative;
}

.container {
    /* width: 1100px;
    border: 2px solid yellow;
    padding: 30px; */
}

.back {
    position: absolute;
    z-index: -1;
    margin-left: 500px;
    top: 100px;
    height: 500px;
    width: 500px;
    /* border: 3px solid ; */
}