.main {
    /* width: 1250px;
    border: 2px solid green;
    padding: 60px;
    margin: 30px;
    margin-left: 70px; */
    position: relative;
}

.back {
    position: absolute;
    z-index: -1;
    margin-left: 300px;
    top: 45px;
    height: 600px;
    width: 700px;
    /* border: 3px solid ; */
}