.main {
    width: 1250px;
    border: 2px solid green;
    padding: 60px;
    margin: 30px;
    margin-left: 70px;
}

.container {
    width: 1100px;
    border: 2px solid yellow;
    padding: 30px;
}