.wrapper {
    max-width: 1000px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: auto;
}

.desc {
    text-align: left;
    position: relative;
    top: 150px;
    left: 300px;
}

/* .slider-wrapper {
    position: relative;
    height: 70vh;
    overflow: hidden;
} */

.slider-content {
    text-align: center;
}

.slider-content .inner {
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.slider-content .inner h1 {
    font-weight: 900;
    margin: 0 auto;
    max-width: 840px;
    color: rgb(51, 253, 0);
    font-size: 64px;
    line-height: 1;
}